html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.text{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 5rem;
    padding: 50rem;
}